/* FONTS */
@font-face {
  font-family: 'Lato Light';
  src: url('fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato Italic';
  src: url('fonts/Lato/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Regular.ttf');
}

body {
  margin-top: -10px;
  font-family: 'Oswald';
  width: 100vw;
}

/* Title + Parallax Area */
#top {
  height: 240vh;

  background-image: linear-gradient(#c6e2ff, #ffce9f);
}

/* Title + Apply links */

#logo_text {
  align-self: center;
  width: 40vw;
  z-index: 2;
}

#logo_subtext {
  align-self: center;
  margin-left: 22vw;
  width: 15vw;
}
#apply_link {
  align-self: center;
  margin-left: 21vw;
  padding-top: 20px;
  display: flex;
  width: 15vw;
  flex-direction: column;
  z-index: 1000;
}
#apply_link a {
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-color: rgb(107, 117, 163);
  border-bottom: 0;
  font-size: 18px;
  border: 1px solid #000;
  text-align: center;
  color: #000;
  z-index: 22;
  background: rgba(198, 226, 255, 0.4);

  font-family: 'Questrial', Arial, sans-serif;
}
#apply_link a:hover,
#apply_link a:focus {
  background: rgba(198, 226, 255, 1);
  text-decoration: none;
  z-index: 1000;
}

/* Parallax - Desktop View*/
#parallax-area {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  flex-direction: column;
  align-content: center;
  background-position: bottom right;
  display: none;
}

#mobile-view {
  background-image: linear-gradient(#c6e2ff, #ffce9f);
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  display: block;
  background-size: auto 100%;
}

.parallax-layer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-position: bottom right;
  background-repeat: repeat-x;
}

.parallax-layer-mobile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-position: bottom right;
  background-repeat: repeat-x;
}

@media (min-width: 992px) {
  #mobile-view {
    display: none;
  }

  #parallax-area {
    display: flex;
  }
}

/* san gabriel */
.layer-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 2vh;
  width: 100vw;
  z-index: 9;
}
/* san gabriel */
.layer-0 {
  top: 15vh;
  opacity: 1;
  z-index: 5;
  filter: saturate(40%);
  width: 100vw;
  background-position: bottom center;
  background: url('assets/parallax_layers/mountains.svg') no-repeat top 40px
    center;
}

/* hollywood hills */
.layer-1 {
  filter: saturate(40%);
  top: 25vh;
  opacity: 1;
  width: 110vw;
  z-index: 10;
  background-repeat: no-repeat;
  background-image: url('assets/parallax_layers/hills.svg');
  background-position: bottom center;
}

/* downtown LA */
.layer-2 {
  left: 15%;
  top: 70vh;
  width: 70vw;
  z-index: 15;
  background-image: url('assets/parallax_layers/city.svg');
}

/* USC */
.layer-3 {
  right: 0px;
  top: 100vh;
  filter: hue-rotate(-10deg);
  filter: contrast(80%);
  width: 60vw;
  align-self: flex-end;
  z-index: 20;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: url('assets/parallax_layers/usc-01.svg');
}

/* tree ground */
.layer-4 {
  left: 0vw;
  top: 130vh;
  opacity: 1;
  z-index: 25;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url('assets/parallax_layers/treeground.svg');
}

/* Main Content area */
.main {
  overflow: hidden;
  width: 100vw;
  top: 240vh;
  position: absolute;

  left: 0;
  background-color: #47424c;
  min-height: 1300px;
}

.main h1 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

/* ABOUT */

#about {
  color: #fff;
  font-family: 'Lato Light', Arial, sans-serif;
  font-weight: 1;
  font-size: 2.3em;
  padding-top: 50px;
  padding-bottom: 40px;
}

#about h2 {
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 52px;
  padding-bottom: 20px;
}

/* FAQ */
#faq {
  width: 100%;
  color: white;
}

#faq h2 {
  font-family: 'Lato Light', Arial, sans-serif;
  text-align: center;
  font-size: 52px;
}

.faq-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.question {
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 10px;
  color: rgb(184, 194, 238);
}

.answer {
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 16px;
  color: white;
}

.question-box {
  padding-bottom: 20px;
}

.owl-question {
  width: 260px;
  height: auto;
  display: block;
  margin: auto;
  opacity: 0.75;
}

@media screen and (max-width: 767px) {
  .owl-question-box{
    display: none;
  }
}
/* SPONSORS */
#sponsors {
  width: 100%;
  color: black;
  background-color: #c6e2ff;
  padding-top: 50px;

  flex-direction: column;
}

#sponsors h2 {
  font-family: 'Lato Light', Arial, sans-serif;
  text-align: center;
  font-size: 52px;
  margin-bottom: 40px;
}

.sponsors-row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.collage-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  width: 100%;
}

.collage-images img {
  padding-left: 15px;
  padding-right: 15px;
}

.tier1 img {
  max-width: 350px !important;
  padding-top: 10px;
}

.tier2 img {
  max-width: 300px !important;
}

.tier3 img {
  min-width: 250px;
  max-width: 250px;
  padding-bottom: -10px;
}

.tier4 img {
  width: 200px;
}

.col-6 {
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.tier5 img {
  max-width: 150px !important;
  align-self: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/*/
/* STORIES */

#stories h2 {
  font-family: 'Lato Light', Arial, sans-serif;
  text-align: center;
  font-size: 52px;
  color: white;
}

.card-title {
  color: rgb(107, 117, 163);
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 16px;
}

.card-text {
  color: black;
  font-size: 14px;
  font-family: 'Lato Light', Arial, sans-serif;
  text-align: left;
}

#stories .btn {
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 14px;
  background-color: rgb(184, 194, 238);
  border-color: rgb(107, 117, 163);
}

#stories .btn:hover {
  background-color: rgb(107, 117, 163);
}

/*#stories {
  max-width: 480px;
  max-height: 480px;
}
 #stories .name {
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 16px;
  color: rgb(184, 194, 238);
}*/

/*Thanks to codeply for the carousel example*/
.carousel-inner {
  visibility: visible;
  display: block;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

#storiesCarouselSmall {
  display: none;
}

@media screen and (max-width: 767px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(100%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-100%);
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }

  #storiesCarouselSmall {
    display: block;
  }
  #storiesCarousel {
    display: none;
  }
}

/* SOCIAL */

.social {
  height: 40px;
  line-height: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  overflow: visible;
  align-items: center;
}

.social a {
  color: #fff;
  text-decoration: none;
}

.social i {
  padding: 0 15px;
  transition: all 0.3s ease;
}

.social i:hover {
  color: #000;
}
