/* FONTS */
@font-face {
  font-family: 'Lato Light';
  src: url('fonts/Lato/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato Italic';
  src: url('fonts/Lato/Lato-Italic.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: url('fonts/Lato/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Regular.ttf');
}
body {
  margin-top: -10px;
  font-family: 'Oswald';
  width: 100vw;
}

/* nav area */
/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  height: 40px;
}

/* Parallax */
.parallax-area {
  background-size: 100%;

  background-image: linear-gradient(#c6e2ff, #ffce9f);
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 850px;
}
.parallax-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: -400px;
  background-position: bottom center;
  background-repeat: repeat-x;
}
.layer-0 {
  width: 200px;
  top: 0;
  left: 0;
  z-index: 5;
  background-position: top left;

  background: url('assets/text_color.png') no-repeat top 40px center;
}
.layer-1 {
  opacity: 1;
  top: -10px;
  z-index: 5;
  filter: saturate(40%);

  background-size: 100%;
  background-image: url('assets/sangabriel.svg');
  background-position: bottom center;
}
.layer-2 {
  opacity: 0.8;
  filter: saturate(80%);

  background-size: 100%;
  top: 20px;
  z-index: 10;
  background-image: url('assets/hills.svg');
}
.layer-3 {
  filter: saturate(10%);
  background-size: 90%;
  top: 0px;
  left: -60px;

  z-index: 15;

  background-image: url('assets/city.svg');
}
.layer-4 {
  background-size: 50%;
  left: 300px;
  top: 40px;
  z-index: 15;

  background-image: url('assets/usc.svg');
  background-repeat: no-repeat;
}

.main {
  overflow: hidden;
  width: 100vw;
  position: absolute;
  top: 740px;

  left: 0;
  background-color: #003663;
  min-height: 1500px;
}
.main h1 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}
/* ABOUT */

#about {
  color: #fff;
  font-family: 'Lato Light', Arial, sans-serif;
  font-weight: 1;
  font-size: 2.3em;
  padding-top: 50px;
  padding-bottom: 40px;
}

#about h2 {
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 52px;
  padding-bottom: 20px;
}

/* FAQ */
#faq {
  width: 100%;
  color: white;
}

#faq h2 {
  font-family: 'Lato Light', Arial, sans-serif;
  text-align: center;
  font-size: 52px;
}
.faq-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.question {
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 10px;
  color: rgb(184, 194, 238);
}
.answer {
  font-family: 'Lato Light', Arial, sans-serif;
  font-size: 16px;
  color: white;
}

/* SPONSORS */
#sponsors {
  width: 100%;
  color: black;
  background-color: rgb(255, 219, 140);
}

#sponsors h2 {
  font-family: 'Lato Light', Arial, sans-serif;
  text-align: center;
  font-size: 52px;
}
.sponsors-row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sponsor-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tier1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tier1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
}
.tier2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tier2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  max-width: 200px;
}
.tier3 img {
  min-width: 250px;
  max-width: 200px;
}

.tier4 img {
  max-width: 200px;
  min-width: 200px;
}

/*/


/* SOCIAL */

.social {
  height: 40px;
  line-height: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  overflow: visible;
  align-items: center;
}

.social a {
  color: #fff;
  text-decoration: none;
}

.social i {
  padding: 0 15px;
  transition: all 0.3s ease;
}

.social i:hover {
  color: #000;
}
