body {
  margin: 0;
  font-family: 'Oswald';
}
.parallax-area {
  background-image: linear-gradient(#c6e2ff, #ffce9f);
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 850px;
}
.parallax-layer {
  width: 100%;
  height: 500px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 1000px 253px;
}

.layer-0 {
  top: 0;
  z-index: 5;
  background: url('assets/text_color.png') no-repeat top 40px center;
  background-size: 500px;
}
.layer-1 {
  top: 30px;
  z-index: 5;
  background-image: url('assets/mountain_range.png');
}
.layer-2 {
  top: 150px;
  z-index: 10;
  background-image: url('assets/hills.png');
  opacity: 1;
}
.layer-3 {
  top: 250px;
  z-index: 15;
  background-image: url('assets/LA.png');
}

.main {
  position: absolute;
  top: 740px;
  background-color: #003663;
  width: 100%;
  min-height: 1500px;
}
.main h1 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

/* FAQ */
#faq {
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Questrial', Arial, sans-serif;
}
.faq-row {
  padding-bottom: 40px;
}

.question {
  font-family: 'Questrial', Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 5px;
  color: white;
}
.answer {
  font-family: 'Questrial', Arial, sans-serif;
  font-size: 12px;
  color: white;
}

/* SOCIAL */

.social {
  height: 40px;
  line-height: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  overflow: visible;
  align-items: center;
}

.social a {
  color: #fff;
  text-decoration: none;
}

.social i {
  padding: 0 15px;
  transition: all 0.3s ease;
}

.social i:hover {
  color: #000;
}
